#Navbar {
    background-color: #460C68;
    padding: 15px;
    color: white;
}

.Logo {
    border-radius: 16px;
    display: grid;
    grid-auto-flow: column;
    width: fit-content;
    place-items: center;
    gap: 15px;
    cursor: pointer;
    padding: 15px;
    transition: 0.5s;
}

.Logo:hover {
    box-shadow: 1px 1px 10px #99FEFF;
    transition: 0.5s;
}

.Logo img {
    width: 56px;
}